/* src/App.css */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("/texture_2.png");
  background-attachment: fixed;
  font-family: "sans-serif", "Segoe UI", Tahoma, Geneva, Verdana;
  width: 100vw;
  min-height: 100vh; /* Ensure the body grows with content */
  overflow-y: scroll; /* Enable scrolling */
  scrollbar-width: none; /* Hide scrollbar (for Firefox) */
}

html {
  overflow-y: scroll;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

#root {
  width: 100%;
  max-height: 100vh;
}

@media screen and (max-width: 768px) {
  #root,
  html,
  body {
    overflow: scroll;
  }
}
