.dice-container {
  display: flex;
  flex-direction: column; /* Ensure button is below */
  align-items: center;
}

.dice-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between dice */
  margin-bottom: 15px; /* Space before button */
}

.dice {
  width: 2.25rem;
  height: 2.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
  border-radius: 8px;
  border: 2px solid black;
  padding: 5px;
  justify-items: center;
  align-items: center;
}

.dot {
  width: 0.3rem;
  height: 0.3rem;
  background-color: black;
  border-radius: 50%;
  display: none; /* Hide dots by default */
}

.visible {
  display: block; /* Show dots when needed */
}

.rolling {
  animation: roll 1s ease-in-out;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.roll-button {
  margin-top: 5px;
}

.roll-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .dice {
    width: 1.875rem;
    height: 1.875rem;
  }

  .dot {
    width: 0.25rem;
    height: 0.25rem;
  }

  .roll-button {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .dice-wrapper {
    gap: 5px;
  }

  .dice {
    width: 1.5rem;
    height: 1.5rem;
    padding: 3px;
  }

  .dot {
    width: 0.2rem;
    height: 0.2rem;
  }
}
